$font-primary: 'IBM Plex Mono', sans-serif;
$font-secondary: 'Raleway', sans-serif;

$bg-header-footer: #1B1B1B;
$clr-dark: #080808;
$clr-light: white;
$clr-text: #9C9C9C;

$bg-btn-green: #3F8E00;
$clr-border-green: #62BA1B;
$bg-btn-orange: #FFA217;
$bg-btn-blue: #000AFF;
$bg-btn-teal: #2AB090;

$fs-body: clamp(.8rem, 1.25vw, 1.5rem);
$fs-text: .875em;
$fs-title: 2.125em;
$fs-subtitle: 1.5em;

$fw-text: regular;
$fw-title: extra-bold;

$lh-text: 1.7;
$ls-text: 1%;